<div class="container">
    <div class="row">
        <div class="col">
 <core-table [columnDefs]="columnDefs1" [rowData]="rowData1"></core-table>
        </div>
        <div class="col">
            <core-table [columnDefs]="columnDefs2" [rowData]="rowData2"></core-table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <core-table [columnDefs]="columnDefs3" [rowData]="rowData3"></core-table>
        </div>
        <div class="col">
            <core-table [columnDefs]="columnDefs4" [rowData]="rowData4"></core-table>
        </div>
    </div>

</div>
