
  <div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <core-bar [chartType]="'bar'"[datasets]="sample1"></core-bar>
            </div>
            <div class="col-6">
                <core-bar [chartType]="'line'"[datasets]="sample2"></core-bar>
                </div>
        </div>
        <div class="row">
            <div class="col-6">
                  <core-bar [chartType]="'pie'" [datasets]="sample3"></core-bar>
                </div>
                <div class="col-6">
                    <core-bar [chartType]="'doughnut'" [datasets]="sample4"></core-bar>
                </div>
            </div>
 
  </div>
